@using System.Web.Optimization;

@{
    ViewBag.Title = "Home Page";
    var scriptPath = Url.Content("~/Scripts/userScript_Index.js");
}

<h1>
    Hello from Daniel
</h1>

<h2>I would like to welcome you to my humble web page</h2>

<p>Please select which day you believe today is</p>

<input id="myDayPicker" value="02/12/2017" />
<br />
<br />
<button id="submitButton" class="k-primary">Submit</button>

@Scripts.Render(scriptPath)